.feed {
  flex: 0.4;
  border-right: 1px solid rgb(221, 228, 221);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feedHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-top: 1px solid rgb(221, 228, 221);
  border-bottom: 1px solid rgb(221, 228, 221);
  display: flex;
  padding-left: 20px;
}

.feedHeader > h2 {
  font-weight: 800;
  font-size: 25px;
  max-height: 25px;
}