.feed {
  flex: 0.4;
  border-right: 1px solid rgb(219, 247, 219);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feedHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid rgb(219, 247, 219);
}

.feedHeader > h2 {
  font-weight: 800;
  font-size: 50px;
}