.postBox {
  padding-bottom: 10px;
  padding: 10px;
  border-bottom: 8px solid rgb(231, 231, 231);
}

.postBoxInput {
display: flex;
height: 100%;
caret-color: rgb(72, 224, 72);


}

.textField {
  flex: 1;
  border: none;
  padding-left: 10px;
  outline: none;
  font-size: 20px;
  width: 100%;

}
